body{
    margin: 0%;
    padding: 0%;
    background-color: rgb(73, 71, 71);
}
header, main, footer{
    margin: 10px;
    padding: 5px 5px;
    background-color: lightgray;
}
header{
    height: 30px;
    position: fixed;
    right: 50px;
    padding: 10px;
}
nav{

}
#inicio, #sobre, #serv, #port{
    height: 900px;
}
section{
    margin: 10px;
    background-color: white;
}
#um{
    width: 45%;
    height: 90%;
    float: left;
}
#dois{
    width: 50%;
    height: 90%;
    float: right;
}
img{

}
footer{
    height: 30px;
}
#zap{
    max-width: 80px;
    max-height: 80px;
    position: fixed;
    right: 73px;
    bottom: 20px;
    background: #0d7b00;
    z-index: 999;
    padding: 30px;
    border-radius: 50px;
    transition: .5s;
}
#zap:hover{
    right: 0;
    bottom: 0;
    border-radius: 100px 0px 0px 0px;
    padding: 70px;
    transition: .5s;
}