* {
    margin: 0;
}
header, main, footer {
    margin: 3px;
}
header, main{
    display: flex;
}
header #logo{
    flex: 1 1 500px;
    align-items: left;
}
nav {
    flex: 1 1 100px;
    align-items: right;    
}
a {
    text-decoration: none;
}
main article {
    display: block;
}
main article {
    margin-top: 10%;
    padding: 70px;
}
#img {
   /** width: 150%;
    height: 150%;
    position: relative;
    top: 50px;
    left: 50px;**/
    float: right;
}
#imgtwitter {
    float: right;
    margin: 5px;
    max-width: 23px;
}
#imglinkedin {
    float: right;
    margin: 5px;
    max-width: 20px;
}
#imggithub {
    float: right;
    margin: 5px;
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;
}